/* start nav */
nav {
  background-color: var(--main-color) !important;
}
/* end nav */

/* start activities */
.activities {
  padding: var(--sec-padding);
}

.activities .container {
  display: flex;
  flex-direction: column;
}

.activities .container .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activities .container .head img {
  width: 200px;
}

.activities .cards .card {
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.activities .cards .card::before,
.activities .cards .card::after {
  content: '';
  position: absolute;
  background: #eee;
  width: 100%;
  height: 50%;
  z-index: -1;
  transition: 0.2s;
}
.activities .cards .card::before {
  top: 0;
  left: -100%;
}
.activities .cards .card::after {
  bottom: 0;
  right: -100%;
}
.activities .cards .card:hover::before {
  left: 0;
}
.activities .cards .card:hover::after {
  right: 0;
}

.activities .cards .card img {
  width: 60%;
}

.activities .cards .card .card-text {
  margin-top: 20px;
}

.activities .cards .card a {
  margin: 5px;
}

.activities .cards .card a svg {
  font-size: 18px;
}
.activities .cards .card a .facebook {
  color: #1877f2;
}

.activities .cards .card a .twitter {
  color: #1da1f2;
}

.activities .cards .card a .instagram {
  color: #c13584;
}

.activities .cards .card a .linkedin {
  color: #0077b5;
}

.activities .cards .card a .youtube {
  color: #ff0000;
}
.activities .cards .card a .animation {
  font-size: 25px;
}
.activities .cards .card a .animation:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
/* end activities */
