.navbar {
  background: var(--main-color);
}

header {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
}

header span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline;
  background-color: var(--main-color);
}

.special h3 {
  margin: auto;
  width: max-content;
  border: 3px solid #000;
  padding: 5px 10px;
  margin: 50px 20px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.special h3:hover {
  color: #fff;
  border: 3px solid #fff;
  margin: 50px -30px;
}
.special h3:hover::after {
  left: 50%;
  top: 0;
  height: 100%;
}
.special h3:hover::before {
  left: 0px;
  top: 0;
  height: 100%;
}
.special h3::before,
.special h3::after {
  content: "";
  width: 50%;
  height: 0;
  position: absolute;
  background-color: var(--main-color);
  z-index: -1;
  top: 50%;
  left: -50%;
  transition: 0.5s;
  transition-delay: 0.1s;
}
.special h3::after {
  left: 100%;
}

.main {
  margin-bottom: 50px;
}
.main .back a {
  display: block;
}

.main section:last-of-type {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

main .developers .dev-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--main-color);
  color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid var(--main-white);
  padding: 30px;
  width: 100%;
}

main .developers .dev-container .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

main .developers .dev-container .photo img {
  width: 100%;
}

main .developers .dev-container .contact {
  display: flex;
  width: 100%;
}

main .developers .dev-container .contact .links {
  background-color: white;
  padding: 5px 10px;
  margin-right: 10px;
}

main .developers .dev-container .contact .links a {
  padding: 3px;
  font-size: 18px;
}

main .developers .dev-container .contact .links .linkedin {
  color: #0077b5;
}

main .developers .dev-container .contact .links .mail {
  color: red;
}

main .developers .dev-container .contact .links .github {
  color: black;
}
