* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #2b2c93;
  --main-white: #ffffff99;
  --sec-padding: 80px 0;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  width: 101%;
  overflow-x: hidden;
}

.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-head h1 {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: fit-content;
}

.section-head p {
  font-weight: bold;
}

.section-head img {
  width: 100px;
  margin: 20px;
}

/* start nav */
.navbar {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}

nav.active {
  background-color: var(--main-color);
}

.navbar-brand {
  width: 50px;
  margin: 0 !important;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid white;
}

.navbar-brand .college-name {
  color: white;
  font-size: 14px;
  line-height: 1.7;
}

.navbar-brand .college-name p {
  margin: 0 15px;
}

.navbar button {
  border: none !important;
  outline: none !important;
}

.navbar button span {
  color: white !important;
  font-size: 30px;
}

.navbar .navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar ul li {
  padding: 0 10px;
}

.navbar ul li .nav-link {
  color: white;
  position: relative;
  padding: 10px 0 !important;
  width: fit-content;
}

.navbar .navbar-nav li a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: white;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

.navbar .navbar-nav li a.active,
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus {
  color: white !important;
}

.navbar .navbar-nav li a:hover::after,
.navbar .navbar-nav li a:focus::after,
.navbar .navbar-nav li a.active::after {
  width: 100%;
  color: white !important;
}
/* end nav */

/* start landing */
.landing {
  position: relative;
  top: -76px;
}

.landing .landing-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.landing .landing-start {
  color: white;
  text-align: center;
  line-height: 1.5;
}

.landing .landing-start h1,
.landing .landing-start h3 {
  animation-duration: 1.5s !important;
  animation-delay: 0.2s !important;
}

.landing .landing-start a {
  background-color: var(--main-color);
  padding-right: 15px;
  padding-left: 25px;
  color: white;
  font-size: 20px;
  border: 1px solid var(--main-color);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  margin-top: 15px;
  position: relative;
}

.landing .landing-start a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: transparent white transparent transparent;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 3px;
}

.landing .landing-start a:hover,
.landing .landing-start a:focus {
  background-color: transparent;
  border-color: white;
}

.landing .carousel-inner {
  position: relative;
}

.landing .carousel-inner::before {
  content: "";
  width: 5000px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.landing .carousel-inner .carousel-item img {
  height: 100vh;
}
/* end landing */

/* start intro */
.intro {
  padding: var(--sec-padding);
}

.intro .intro-video {
  width: 100%;
  height: auto;
}

.intro .intro-content {
  margin-right: 10px;
  height: 350px;
  overflow: hidden;
}

.intro .intro-content p {
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.intro .intro-content a,
.intro button {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color) !important;
}

.intro button {
  margin-top: 20px;
  position: relative;
  padding-left: 20px;
}

.intro button::before {
  content: "";
  position: absolute;
  left: 5px;
  width: 0;
  height: 0;
}

.intro .more::before {
  top: 50%;
  border: 5px solid !important;
  border-color: white transparent transparent transparent !important;
}

.intro .less::before {
  top: 35%;
  border: 5px solid !important;
  border-color: transparent transparent white transparent !important;
}

.intro .intro-content a:hover,
.intro button:hover {
  color: var(--main-color);
  background-color: transparent;
}

.intro button.more:hover:before {
  border-top-color: var(--main-color) !important;
}

.intro button.less:hover:before {
  border-bottom-color: var(--main-color) !important;
}
/* end intro */

/* start fac-sections */
.fac-sections {
  padding: var(--sec-padding);
  background-color: #f5f5f5;
  overflow: hidden;
}

.fac-sections .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fac-sections .section-head p {
  font-weight: bold;
  width: fit-content;
}

.fac-sections .cards {
  margin-top: 20px;
}

.fac-sections .cards > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fac-sections .card {
  max-width: 350px;
}

.fac-sections .card img {
  margin: 15px auto;
  width: 60%;
}

.fac-sections .card .card-content h5 {
  background-color: var(--main-color);
  padding: 10px 0;
  font-size: 25px;
  color: white;
}

.fac-sections .card .card-content p {
  padding: 10px;
  line-height: 1.6;
}

.fac-sections .card .card-content a,
.fac-sections .know-more {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
}

.fac-sections .know-more {
  margin-top: 20px;
  font-size: 20px;
}

.fac-sections .card .card-content a {
  margin: 0 36% 20px;
}

.fac-sections .card .card-content a:hover,
.fac-sections .know-more:hover {
  background-color: transparent;
  color: var(--main-color);
}
/* end fac-sections */

/* start info section */
.info {
  background-color: var(--main-color);
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}

.info::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  height: 100%;
  background: url("../imgs/texture.png") center / 700px;
  background-repeat: repeat;
  background-repeat: repeat-x;
  opacity: 0.2;
}

@media (max-width: 768px) {
  .info::before {
    bottom: -420px;
  }
}

@media (max-width: 992px) {
  .info::before {
    bottom: -170px;
  }
}

.info .container {
  z-index: 2;
  position: relative;
}

.info .navbar-brand {
  display: flex;
}

.info .info-head .info-desc {
  margin: 20px 0 0 0;
  line-height: 1.8;
  color: var(--main-white);
}

.info .site-content,
.info .site-policies {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info .site-content h4,
.info .site-policies h4,
.info .map h4 {
  font-size: 20px;
  color: white;
}

.info .map h4 {
  margin: 20px 0;
}

.info .site-content a,
.info .site-policies a {
  text-decoration: none;
  color: var(--main-white);
  font-size: 16px;
  margin: 8px 0;
}

.info .site-content a:hover,
.info .site-policies a:hover {
  color: white;
}

.info .map iframe {
  height: 220px;
}
/* end info section */

/* start student-activities */
.student-activities {
  padding: var(--sec-padding);
}

.student-activities .teams-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-activities .activities-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student-activities .activities-content h2 {
  text-align: center;
}

.student-activities .team-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student-activities .team-card img {
  width: 75%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.student-activities .carousel button [class*="prev"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill=''%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.student-activities .carousel button [class*="next"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.student-activities .activities-content a {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  margin-top: 30px;
  width: fit-content;
}

.student-activities .activities-content a:hover {
  background-color: transparent;
  color: var(--main-color);
}
/* end student-activities */
